{% extends "auth/baseAuth.html" %}
{% block title %} Confirm your email {% endblock %}
{%block page_title%} Please confirm your email {%endblock%}
{% block page_content %}
    <p>Thanks for registration!</p> 
    <p>${ get_flashed_messages()[0] }</p>
    <p>If for some reason you didn't get a confirmation email please <a href="${ url_for('auth.resend_confirmation', userid=userid, _external=True) }">resend it</a>.</p>
    <div v-if="errors.length">
        <b>Please correct the following error(s):</b>
        <ul class="errors-list">
            <li v-for="error in errors">{{ error }}</li>
        </ul>
    </div>
    <div class="alert alert-success" role="alert" v-if="resend_success">
        The confirmation email has been sent successfully! Please open your inbox and click the link inside.
    </div>
{% endblock %}