option_settings:
  aws:elasticbeanstalk:application:environment:
    env: dev
    db_url: postgres://db
    secret_key: key
    secret_salt: key
    mail_server: mail.privateemail.com
    mail_port: 465
    mail_username: key
    mail_password: key
    admin_email: key
    TEST_STRIPE_PUBLISHABLE_KEY: key
    TEST_STRIPE_SECRET_KEY: key
    stripe_endpoint_secret: key