@import '~bootstrap/scss/bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#wrapper #content-wrapper {
    overflow-x: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 80px;
}

body.fixed-nav #content-wrapper {
    margin-top: 56px;
    padding-left: 90px;
}

#dashboardApp.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 0;
}

@media (min-width: 768px) {
    body.fixed-nav #content-wrapper {
        padding-left: 225px;
}
#dashboardApp.fixed-nav.sidebar-toggled #content-wrapper {
    padding-left: 90px;
    }
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}

.smaller {
    font-size: 0.7rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.navbar {
    background-color:  #2e69a5;
}

.navbar-nav .form-inline .input-group {
    width: 100%;
}

.nav-item i {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: text-bottom;
}

.navbar-nav .nav-item.active .nav-link {
    color: #fff;
}

.dropdown a {
    font-size: 15px;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
}

.navbar-nav .nav-item.dropdown .dropdown-toggle::after {
    width: 1rem;
    text-align: center;
    float: right;
    vertical-align: 0;
    border: 0;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    content: '\f105';
}
.arrow-submenu {
    position: absolute;
    right: 5px;
    top: 10px;
    cursor: pointer;
    color: #e9f0f8;
}
.arrow-submenu:hover {
    color: #ffffff;
}
a.collapsed .arrow-submenu:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
}
.arrow-submenu:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #ffffff;
    font-style: normal;
}

.navbar-nav .nav-item.dropdown.show .dropdown-toggle::after {
    content: '\f107';
}

.navbar-nav .nav-item.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.navbar-nav .nav-item .nav-link:focus {
    outline: none;
}

.navbar-nav .nav-item .nav-link .badge {
    position: absolute;
    margin-left: 0.75rem;
    top: 0.3rem;
    font-weight: 400;
    font-size: 0.5rem;
}

@media (min-width: 768px) {
    .navbar-nav .form-inline .input-group {
        width: auto;
    }
}

.sidebar {
    width: 90px !important;
    background-color: #153352;
    min-height: calc(100vh - 56px);
}

.sidebar .nav-item:last-child {
    margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 90px;
    position: relative;
    font-size: 14px;
    color: #f3f1f1;
}

.sidebar .nav-item .nav-link span {
    font-size: 0.65rem;
    display: block;
}

.sidebar .nav-item .dropdown-menu {
    position: absolute !important;
    -webkit-transform: none !important;
    transform: none !important;
    left: calc(90px + 0.5rem) !important;
    margin: 0;
}

.sidebar .nav-item .dropdown-menu.dropup {
    bottom: 0;
    top: auto !important;
}

.sidebar .nav-item.dropdown .dropdown-toggle::after {
    display: none;
}


.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
}

.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}
.sidebar .nav-item {
    position: relative;
}
@media (min-width: 768px) {
    .sidebar {
        width: 225px !important;
    }
    .sidebar .nav-item .nav-link {
        display: block;
        width: 100%;
        background-color: #3f5b77;
        border-right: 1px solid #000;
        border-left: 1px solid #727b84;
        border-top: 1px solid #727b84;
        border-bottom: 1px solid #000;
        cursor: pointer;
        padding: 10px;
        text-align: left;
        width: 225px;
    }
    .sidebar .nav-item .nav-link span {
        font-size: 14px;
        display: inline;
        color: #f3f1f1;
    }
    .sidebar .nav-item .nav-link span:hover {
        color: #ffffff;
    }
    .sidebar .nav-item .dropdown-menu {
        position: static !important;
        margin: 0 1rem;
        top: 0;
    }
    .sidebar .nav-item.dropdown .dropdown-toggle::after {
        display: block;
    }
    .sidebar.toggled {
        overflow: visible;
        width: 90px !important;
    }
    .sidebar.toggled .nav-item:last-child {
        margin-bottom: 1rem;
    }
    .sidebar.toggled .nav-item .nav-link {
        text-align: center;
        padding: 0.75rem 1rem;
        width: 90px;
    }
    .sidebar.toggled .nav-item .nav-link span {
        font-size: 0.65rem;
        display: block;
    }
    .sidebar.toggled .left-submenu-item {
        font-size: 0.65rem;
    }
    .sidebar.toggled .nav-item .dropdown-menu {
        position: absolute !important;
        -webkit-transform: none !important;
        transform: none !important;
        left: calc(90px + 0.5rem) !important;
        margin: 0;
    }
    .sidebar.toggled .nav-item .dropdown-menu.dropup {
        bottom: 0;
        top: auto !important;
    }
    .sidebar.toggled .nav-item.dropdown .dropdown-toggle::after {
        display: none;
    }
}

.sidebar.fixed-top {
    top: 56px;
    height: calc(100vh - 56px);
    overflow-y: auto;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2;
    }
}
.leftmenu-toggle {
    position: relative;
}

.leftmenu-toggle::after {
    /* display: inline-block; */
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    right: 11px;
    position: absolute;
    /* top: calc(100% - 50px); */
    top: 20px;
}

.left-submenu {
    display: block;
}
.left-submenu-item {
    display: block;
    font-size: 14px;
    color: #f3f1f1;
    padding: 0.4rem 1rem;
    border-top: 1px solid #445566;
    border-bottom: 1px solid #131c25;
}
.left-submenu-item:hover {
    background-color: #1f4771;
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid #1f4771;
    border-top: 1px solid #1f4771;
}

:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
}

.card-login {
    max-width: 25rem;
}

.card-register {
    max-width: 40rem;
}
.loader {
    font-size: 38px;
    color: #a9b6c3;
}
.loader-in-button {
    margin-right: 5px;
}
.icon-green {
    color: #3baf33;
    margin-right: 5px;
}
.modal-footer-info {
    display: inline-block;
    width: 100%;
}
.modal-footer-buttons-block {
    display: inline-block;
}

/** Form ***/

.form-label-group {
    position: relative;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 90px);
    height: 40px;
    background-color: #e9ecef;
    border-top: 1px solid #dee0e2;
}

footer.sticky-footer .status-bar {
    line-height: 1;
    font-size: 0.8rem;
}

.status-bar-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    footer.sticky-footer {
        width: calc(100% - 225px);
    }
}

#dashboardApp.sidebar-toggled footer.sticky-footer {
    width: 100%;
}

@media (min-width: 768px) {
    #dashboardApp.sidebar-toggled footer.sticky-footer {
        width: calc(100% - 90px);
    }
}
.table-custom {
    font-size: smaller;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}
.table-custom thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}
/*** Forms ***/



/*** Bootstrap extension ***/
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.dropdown-item {
    font-size: 15px;
}

.btn {
    height: 38px;
    color: #5b5c5d;
    cursor: pointer;
    border: none;
    padding: 0 20px;
    box-shadow: 0 -1px 0 1px rgba(0,0,0,.2) inset;
    outline: 0;
    margin: 10px 0;
}
.btn-secondary {
    color: #ffffff;
}
.btn:active, .btn:hover, .btn:focus {
    outline: none;
}
.btn-primary {
    color: #f6f8fa !important;
    background-color: #356fa9 !important;
}
.btn-primary:hover {
    background-color: #3372b5;
    border-color: #03458b;
}
.btn-pause {
    color: #f6f8fa !important;
    background-color: #786380 !important;
}
.btn-cancel {
    color: #f6f8fa !important;
    background-color: #b33a1e !important;
}
.btn-resume {
    color: #f6f8fa !important;
    background-color: #3b943a !important;
}
.btn-cancel:hover, .btn-pause:hover, .btn-resume {
    color: #ffffff;
}
.btn-link {
    border: none;
    cursor: pointer;
    outline: none;
}
.btn-link:focus {
    outline: none;
}

.form-control {
    outline: 0;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #c5c8ca;
    box-shadow: 0 0 0 0.2rem rgba(167,184,202,.12);
    background-color: #fff;
}
.modal-dialog {
    max-width: 1000px !important;
}
.modal-dialog-small {
    max-width: 500px !important;
}
.modal-footer {
    display: inline;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-body {
    max-height: 600px;
    overflow-y: scroll;
}
.alert {
    border-radius: 2px;
}