<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="${ url_for("static", filename="media/favicon.ico") }" />
        <title>${company_name} - {% block title %}{% endblock %}</title>
        <script src="${ url_for("static", filename="js/authStyles.bundle.js")}"></script>
    </head>

    <body class="text-center">
        <div id="app_auth" class="container">
            <div class="form-auth">
                <img class="mb-4" src="${ url_for("static", filename="media/logo.png") }" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">{% block page_title %}{% endblock %}</h1>

                <div v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul class="errors-list">
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>
                {% block page_content %}
                {% endblock %}
                <p class="mt-5 mb-3 text-muted">${company_name}&copy; 2018</p>
            </div>
        </div>
        <script src="${ url_for("static", filename="js/auth.bundle.js")}"></script>
    </body>
</html>
