<!-- No router-link used here because redirecting is done programmatically to
    provide menu expanding (it could be used for menu without submenues but we want 
    to keep everything the same) -->
<ul class="list-unstyled components sidebar navbar-nav" v-bind:class="{ 'toggled': !sideBarOpened }">
    <li class="nav-item active">
        <a href="#" class="nav-link" @click="openUrl('Sample_long_page')">
                <i class="far fa-file"></i>
                Sample long page
            </a>
        </li>
    <li class="nav-item active">
        <a href="#li5feddee9" class="nav-link collapsed" data-toggle="collapse" 
                aria-expanded="false">
                <i class="fas fa-football-ball"></i>
                UI Element library
            </a>
            <!--arrow menu toggle-->
            <a href="#li5feddee9" 
                data-toggle="collapse" aria-expanded="false" class="collapsed">
                <i class="arrow-submenu"></i>
            </a>

            <!--submenu items-->
            <ul class="collapse list-unstyled" id="li5feddee9">
                <li>
                    <a href="#" class="left-submenu-item" @click="openUrl('Simple_elements')">
                        <i class="far fa-star"></i>
                        Simple elements
                    </a>
                </li>
                </ul>
            
        </li>
    </ul>