<!-- No router-link used here because redirecting is done programmatically to
    provide menu expanding (it could be used for menu without submenues but we want 
    to keep everything the same) -->
<ul class="list-unstyled components sidebar navbar-nav" v-bind:class="{ 'toggled': !sideBarOpened }">
    <li class="nav-item active">
        <a href="#" class="nav-link" @click="openUrl('Sample_long_page')">
                <i class="far fa-file"></i>
                Sample long page
            </a>
        </li>
    <li class="nav-item active">
        <a href="#li3bd83736" class="nav-link collapsed" data-toggle="collapse" 
                aria-expanded="false" @click="openUrl('UI_Element_library')" >
                <i class="fas fa-football-ball"></i>
                UI Element library
            </a>
            <!--arrow menu toggle-->
            <a href="#li3bd83736" 
                data-toggle="collapse" aria-expanded="false" class="collapsed">
                <i class="arrow-submenu"></i>
            </a>

            <!--submenu items-->
            <ul class="collapse list-unstyled" id="li3bd83736">
                <li>
                    <a href="#" class="left-submenu-item" @click="openUrl('Simple_elements')">
                        <i class="far fa-star"></i>
                        Simple elements
                    </a>
                </li>
                </ul>
            
        </li>
    <li class="nav-item active">
        <a href="#" class="nav-link" @click="openUrl('Pages')">
                <i class="far fa-file"></i>
                Pages
            </a>
        </li>
    </ul><!-- No router-link used here because redirecting is done programmatically to
    provide menu expanding (it could be used for menu without submenues but we want 
    to keep everything the same) 
<ul class="list-unstyled components sidebar navbar-nav" v-bind:class="{ 'toggled': !sideBarOpened }">
    <li class="nav-item active">
        <a href="#" class="nav-link" @click="openUrl('Sample_long_page')">
                <i class="far fa-file"></i>
                Sample long page
            </a>
        </li>
    <li class="nav-item active">
        <a href="#lidef7683e" class="nav-link collapsed" data-toggle="collapse" 
                aria-expanded="false" @click="openUrl('UI_Element_library')" >
                <i class="fas fa-football-ball"></i>
                UI Element library
            </a>
            arrow menu toggle
            <a href="#lidef7683e" 
                data-toggle="collapse" aria-expanded="false" class="collapsed">
                <i class="arrow-submenu"></i>
            </a>

            submenu items
            <ul class="collapse list-unstyled" id="lidef7683e">
                <li>
                    <a href="#" class="left-submenu-item" @click="openUrl('Simple_elements')">
                        <i class="far fa-star"></i>
                        Simple elements
                    </a>
                </li>
                </ul>
            
        </li>
    <li class="nav-item active">
        <a href="#" class="nav-link" @click="openUrl('Pages')">
                Pages
            </a>
        </li>
    </ul> No router-link used here because redirecting is done programmatically to
    provide menu expanding (it could be used for menu without submenues but we want 
    to keep everything the same) 
<ul class="list-unstyled components sidebar navbar-nav" v-bind:class="{ 'toggled': !sideBarOpened }">
    <li class="nav-item active">
        <a href="#" class="nav-link" @click="openUrl('Sample_long_page')">
                <i class="far fa-file"></i>
                Sample long page
            </a>
        </li>
    <li class="nav-item active">
        <a href="#li6c4d3302" class="nav-link collapsed" data-toggle="collapse" 
                aria-expanded="false" @click="openUrl('UI_Element_library')" >
                <i class="fas fa-football-ball"></i>
                UI Element library
            </a>
            arrow menu toggle
            <a href="#li6c4d3302" 
                data-toggle="collapse" aria-expanded="false" class="collapsed">
                <i class="arrow-submenu"></i>
            </a>

            submenu items
            <ul class="collapse list-unstyled" id="li6c4d3302">
                <li>
                    <a href="#" class="left-submenu-item" @click="openUrl('Simple_elements')">
                        <i class="far fa-star"></i>
                        Simple elements
                    </a>
                </li>
                </ul>
            
        </li>
    <li class="nav-item active">
        <a href="#li3f7b25d3" class="nav-link collapsed" data-toggle="collapse" 
                aria-expanded="false" @click="openUrl('Pages')" >
                Pages
            </a>
            arrow menu toggle
            <a href="#li3f7b25d3" 
                data-toggle="collapse" aria-expanded="false" class="collapsed">
                <i class="arrow-submenu"></i>
            </a>

            submenu items
            <ul class="collapse list-unstyled" id="li3f7b25d3">
                <li>
                    <a href="#" class="left-submenu-item" @click="openUrl('RegisterPage')">
                        Register page
                    </a>
                </li>
                <li>
                    <a href="#" class="left-submenu-item" @click="openUrl('LoginPage')">
                        Login page
                    </a>
                </li>
                </ul>
            
        </li>
    </ul> No router-link used here because redirecting is done programmatically to
    provide menu expanding (it could be used for menu without submenues but we want 
    to keep everything the same) 
<ul class="list-unstyled components sidebar navbar-nav" v-bind:class="{ 'toggled': !sideBarOpened }">
    <li class="nav-item active">
        <a href="#" class="nav-link" @click="openUrl('Sample_long_page')">
                <i class="far fa-file"></i>
                Sample long page
            </a>
        </li>
    <li class="nav-item active">
        <a href="#licdd8f6b9" class="nav-link collapsed" data-toggle="collapse" 
                aria-expanded="false" @click="openUrl('UI_Element_library')" >
                <i class="fas fa-football-ball"></i>
                UI Element library
            </a>
            arrow menu toggle
            <a href="#licdd8f6b9" 
                data-toggle="collapse" aria-expanded="false" class="collapsed">
                <i class="arrow-submenu"></i>
            </a>

            submenu items
            <ul class="collapse list-unstyled" id="licdd8f6b9">
                <li>
                    <a href="#" class="left-submenu-item" @click="openUrl('Simple_elements')">
                        <i class="far fa-star"></i>
                        Simple elements
                    </a>
                </li>
                </ul>
            
        </li>
    <li class="nav-item active">
        <a href="#li4c8b5501" class="nav-link collapsed" data-toggle="collapse" 
                aria-expanded="false" @click="openUrl('Pages')" >
                Pages
            </a>
            arrow menu toggle
            <a href="#li4c8b5501" 
                data-toggle="collapse" aria-expanded="false" class="collapsed">
                <i class="arrow-submenu"></i>
            </a>

            submenu items
            <ul class="collapse list-unstyled" id="li4c8b5501">
                <li>
                    <a href="#" class="left-submenu-item" @click="openUrl('LoginPage')">
                        Login page
                    </a>
                </li>
                </ul>
            
        </li>
    </ul>-->